:root {
  --gutter: 20px;
}
.registerCard {
  display: grid;
  place-items: inherit;
  width: 800px;
}

.form-control {
  border: 0;
  padding: 0;
}
.form-group {
  display: flex;
  align-items: flex-start;
  margin-left: 1.5rem;
}

.mat-form-field {
  display: grid;
  place-items: center;
  margin: 0.5rem 0;
  // width: 300px !important;
}
.mat-toolbar-single-row {
  height: auto !important;
  background: transparent;
}

img {
  display: grid;
  grid-template-columns: 20px 1fr 20px;
  height: 200px;
  width: 200px;
  max-height: 200px;
  max-width: 200px;
  padding: 0.5rem;
}

input:disabled,
input[disabled] {
  cursor: not-allowed !important;
}

.photoPreview {
  display: grid;
  place-items: inherit;
}
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

section {
  display: grid;
  padding: 0 1rem 1rem 1rem;
  margin: 3rem 0 3rem 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
}

mat-checkbox {
  margin: 0.25rem;
  display: flex;
  align-items: center;
}
.otherPostalAddress {
  display: grid;
}

.photoGallary {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

  .gallary {
    display: inline-block;
  }

  .toggle {
    margin-top: 5rem;
  }

  np-datepicker {
    margin-bottom: 12rem;
  }


}
