.registerCard {
  display: flex;
  align-items: center;
  width: 100%;
}

.form-control {
  border: 0;
}

.mat-form-field {
  display: grid;
  align-items: center;
  margin: 0.5rem 0;
  width: 300px !important;
}

.mat-toolbar-single-row {
  height: auto !important;
  background: transparent;
}

.mat-toolbar-single-row button {
  width: 200px;
}

.mat-form-field {
  width: 100%;
}

#uploadFile,
#uploadFileBill {
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 9;
  opacity: 0;
  height: 100%;
  cursor: pointer;
  position: absolute;
}

img {
  height: 300px;
  width: 300px;
}
.mat-search_icons[_ngcontent-nuy-c283]
  .mat-search_icon-search[_ngcontent-nuy-c283] {
  left: 300px;
}

input:disabled,
input[disabled] {
  cursor: not-allowed !important;
}

.searchBar {
  // margin-left: 25px;
}

form {
  display: inline-flex;
  width: 100%;
}

/* test */
.mat-card {
  text-align: -webkit-center;
}

.demo-toolbar {
  display: flex;
  align-items: center;
  width: 100%;
}

.demo-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.demo-full-width {
  width: 100%;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

mat-card {
  max-width: 80%;
  margin: 2em auto;
  text-align: center;
}

mat-toolbar-row {
  justify-content: space-between;
}

.done {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: white;
}

.content-center {
  text-align: -webkit-center;
}
/* test end */
