<!-- student form -->
<div class="content-wrapper">
  <legend class="scheduler-border label">Register Form:</legend>
  <div class="row">
    <div class="col searchBar">
      <mat-search-bar
        [autocomplete]="false"
        style="margin-left: 180px"
        class="mb-2 mt-2"
        placeholder="Search RegNo"
        (change)="onSearch($event.target.value)"
      ></mat-search-bar>
    </div>
  </div>

  <form novalidate role="form" [formGroup]="registerForm">
    <div class="row mb-2">
      <div class="card registerCard">
        <div class="card-body">
          <!-- first row  -->
          <div class="row">
            <!--  name -->
            <div class="col-md-4">
              <mat-form-field class="=full-width">
                <input
                  matInput
                  type="text"
                  placeholder="Full Name"
                  formControlName="name"
                  id="name"
                />
                <mat-hint align="end">Enter full name</mat-hint>
              </mat-form-field>
            </div>
            <!--/
                 name -->

            <!-- father name -->
            <div class="col-md-4">
              <mat-form-field>
                <input
                  matInput
                  type="text"
                  placeholder="Address"
                  formControlName="address"
                  id="lname"
                  fxlayoutalign="column"
                />
                <mat-hint align="end">Enter address</mat-hint>
                <!-- <mat-error *ngIf="hasError('address', 'required')"
                >Last Name is required</mat-error
              >
              <mat-error *ngIf="hasError('address', 'maxlength')"
                >Enter last name</mat-error
              > -->
              </mat-form-field>
            </div>
            <!-- / father name -->

            <!-- mother name -->
            <div class="col-md-4">
              <mat-form-field>
                <input
                  matInput
                  type="number"
                  placeholder=" Ward number"
                  formControlName="wardNo"
                  id="lname"
                  fxlayoutalign="column"
                />
                <mat-hint align="end">Enter ward number</mat-hint>
                <!--  <mat-error *ngIf="hasError('wardNum', 'required')"
                >Last Name is required</mat-error
              >
              <mat-error *ngIf="hasError('wardNum', 'maxlength')"
                >Enter last name</mat-error
              > -->
              </mat-form-field>
            </div>
          </div>
          <!-- first row end -->

          <!-- second row  -->
          <div class="row">
            <!--  name -->
            <div class="col-md-4">
              <mat-form-field>
                <input
                  matInput
                  type="text"
                  placeholder=" Mobile number"
                  formControlName="mobileNo"
                  id="lname"
                  fxlayoutalign="column"
                  #input
                  maxlength="10"
                />
                <mat-hint align="end"
                  >{{ input.value?.length || 0 }}/10, Enter mobile
                  number</mat-hint
                >

                <!--  <mat-error *ngIf="hasError('wardNum', 'required')"
                >Last Name is required</mat-error
              >
              <mat-error *ngIf="hasError('wardNum', 'maxlength')"
                >Enter last name</mat-error
              > -->
              </mat-form-field>
            </div>
            <!--/
                 name -->

            <!-- Affiliation College -->
            <div class="col-md-4">
              <mat-form-field>
                <input
                  matInput
                  type="text"
                  placeholder=" Email"
                  formControlName="email"
                  id="lname"
                  fxlayoutalign="column"
                />
                <mat-hint align="end">Enter e-mail address</mat-hint>
                <!--  <mat-error *ngIf="hasError('wardNum', 'required')"
                >Last Name is required</mat-error
              >
              <mat-error *ngIf="hasError('wardNum', 'maxlength')"
                >Enter last name</mat-error
              > -->
              </mat-form-field>
            </div>
            <!-- / father name -->

            <!-- College Name -->
            <div class="col-md-4">
              <mat-form-field>
                <input
                  [matDatepicker]="picker"
                  matInput
                  placeholder="Choose D.O.B"
                  formControlName="dob"
                  (click)="picker.open()"
                  [(value)]="dob"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-hint align="end">Select Date of Birth(D.O.B)</mat-hint>
              </mat-form-field>
            </div>
            <!-- College Name end -->
          </div>
          <!-- second row end -->

          <!-- third row  -->
          <div class="row">
            <!--  College Address -->
            <div class="col-md-4">
              <mat-form-field>
                <mat-label>Affiliation College</mat-label>
                <mat-select
                  formControlName="affiliationCollege"
                  [compareWith]="compareFn"
                >
                  <mat-option
                    *ngFor="let item of affiliationCollegeList"
                    [value]="item"
                    >{{ item.name }}</mat-option
                  >
                </mat-select>
                <mat-hint align="end">Select college affiliation</mat-hint>
              </mat-form-field>
            </div>
            <!--/
                 College Address -->

            <!-- dob-->
            <div class="col-md-4">
              <mat-form-field>
                <input
                  matInput
                  type="text"
                  placeholder="College Name"
                  formControlName="collegeName"
                  id="college"
                  fxlayoutalign="column"
                />
                <mat-hint align="end">Enter college name</mat-hint>
                <!--  <mat-error *ngIf="hasError('name', 'required')"
                >Last Name is required</mat-error
              >
              <mat-error *ngIf="hasError('name', 'maxlength')"
                >Enter last name</mat-error
              > -->
              </mat-form-field>
            </div>
            <!-- / dob-->

            <!-- Registered Number-->
            <div class="col-md-4">
              <mat-form-field>
                <input
                  matInput
                  type="text"
                  placeholder="College Address"
                  formControlName="collegeAddress"
                  id="collegeAddress"
                  fxlayoutalign="column"
                />
                <mat-hint align="end">Enter college address</mat-hint>
                <!--  <mat-error *ngIf="hasError('name', 'required')"
                >Last Name is required</mat-error
              >
              <mat-error *ngIf="hasError('name', 'maxlength')"
                >Enter last name</mat-error
              > -->
              </mat-form-field>
            </div>
            <!-- College Name end -->
          </div>
          <!-- third row end -->

          <!-- fourth row  -->
          <div class="row">
            <!--  letterReceiver -->
            <div class="col-md-4">
              <mat-form-field class="=full-width">
                <input
                  matInput
                  type="text"
                  placeholder="Registered Number"
                  formControlName="regNo"
                  id="fname"
                />
                <mat-hint align="end">Enter registered number</mat-hint>
                <!-- <mat-error *ngIf="hasError('name', 'required')">Name is required</mat-error>
            <mat-error *ngIf="hasError('name', 'maxlength')">You have more than 60 characters</mat-error>-->
              </mat-form-field>
            </div>
            <!--/
                 Registered Number -->
            <!-- date of issue -->
            <div class="col-md-4">
              <mat-form-field>
                <input
                  [matDatepicker]="picker2"
                  matInput
                  placeholder="Choose  Issued Date"
                  formControlName="issueDate"
                  (click)="picker2.open()"
                  [(value)]="issueDate"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker2"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
                <mat-hint align="end">Select Licence Issued Date </mat-hint>
              </mat-form-field>
            </div>
            <!-- date of issue end -->
            <!-- exp date -->
            <div class="col-md-4">
              <mat-form-field>
                <input
                  [matDatepicker]="picker3"
                  matInput
                  placeholder="Choose  Expiry Date"
                  formControlName="expDate"
                  (click)="picker3.open()"
                  [(value)]="expDate"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker3"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker3></mat-datepicker>
                <mat-hint align="end">Select Licence Expiry date</mat-hint>
              </mat-form-field>
            </div>
            <!-- exp date end -->
            <!--
                 letterReceiver -->
          </div>
          <!-- fourth row end -->

          <!-- fifth row -->
          <div class="row">
            <div class="col-md-4">
              <mat-form-field>
                <mat-label>Letter Receiver</mat-label>
                <mat-select
                  formControlName="letterReceiver"
                  [compareWith]="compareFn"
                  (selectionChange)="selectPostalAddress($event.value.id)"
                >
                  <mat-option
                    *ngFor="let item of letterReceiverList"
                    [value]="item"
                    >{{ item.name }}</mat-option
                  >
                </mat-select>
                <mat-hint align="end">Select letter receiver</mat-hint>
              </mat-form-field>
            </div>
            <!-- letter receiver -->
            <div class="col-md-4">
              <mat-form-field>
                <mat-label>Postal Address</mat-label>
                <mat-select
                  formControlName="postalAddress"
                  [compareWith]="compareFn"
                >
                  <mat-option
                    *ngFor="let item of postalAddressList"
                    [value]="item"
                    >{{ item.name }}, {{ item.address1 }}</mat-option
                  >
                </mat-select>
                <mat-hint align="end">Select letter receiver</mat-hint>
              </mat-form-field>
            </div>
            <!-- / letter receiver-->

            <!-- lastBillEdit -->
            <div class="col-md-4">
              <mat-checkbox color="warn" formControlName="lastBillEdit"
                >Last Bill Edited</mat-checkbox
              >

              <!-- <mat-hint align="end">Check if last bill is edited</mat-hint> -->
            </div>
            <!-- / lastBillEdit-->
          </div>
          <!-- fifth row end -->
          <!-- conditional row display -->
          <ng-container *ngIf="addOtherFields">
            <section>
              <h2 class="label">Postal Address for others:</h2>

              <div class="row">
                <div class="col-md-4">
                  <mat-form-field>
                    <input
                      matInput
                      type="text"
                      placeholder="Address1"
                      formControlName="address1"
                      fxlayoutalign="column"
                    />
                    <mat-hint align="end">Enter address 1</mat-hint>
                    <!--  <mat-error *ngIf="hasError('name', 'required')"
        >Last Name is required</mat-error
      >
      <mat-error *ngIf="hasError('name', 'maxlength')"
        >Enter last name</mat-error
      > -->
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field>
                    <input
                      matInput
                      type="text"
                      placeholder="Address 2"
                      formControlName="address2"
                      fxlayoutalign="column"
                    />
                    <mat-hint align="end">Enter address 2</mat-hint>
                    <!--  <mat-error *ngIf="hasError('name', 'required')"
        >Last Name is required</mat-error
      >
      <mat-error *ngIf="hasError('name', 'maxlength')"
        >Enter last name</mat-error
      > -->
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field>
                    <input
                      matInput
                      type="text"
                      placeholder="Address 3"
                      formControlName="address3"
                      fxlayoutalign="column"
                    />
                    <mat-hint align="end">Enter address 3</mat-hint>
                    <!--  <mat-error *ngIf="hasError('name', 'required')"
        >Last Name is required</mat-error
      >
      <mat-error *ngIf="hasError('name', 'maxlength')"
        >Enter last name</mat-error
      > -->
                  </mat-form-field>
                </div>
                <!-- College Name end -->
              </div>
            </section>
          </ng-container>
          <!-- conditional row display end-->
          <!-- sixth row  -->
          <div class="row">
            <!--  licence photo-->
            <div class="col form-group">
              <!-- upload licence photo  -->
              <mat-form-field>
                <mat-toolbar>
                  <!-- Display files names -->
                  <input readonly matInput name="name" />
                </mat-toolbar>
                <!-- Fetch selected filed on change -->
                <input
                  class="form-control"
                  type="file"
                  accept="image/*"
                  (change)="onImageChange($event, 'photoLicence')"
                />
                <img
                  [src]="licenceImage"
                  *ngIf="licenceImage"
                  style="margin: 3px"
                />
                <mat-hint align="end">Upload licence photo</mat-hint>
              </mat-form-field>
              <!-- upload licence photo  -->
            </div>
            <!--  alt photo-->
            <ng-container *ngIf="addOptionalPhoto">
              <div class="col form-group">
                <!-- upload licence photo  -->
                <mat-form-field>
                  <mat-toolbar>
                    <!-- Display files names -->
                    <input id="txtFile" readonly matInput name="name" />
                  </mat-toolbar>
                  <!-- Fetch selected filed on change -->
                  <input
                    class="form-control"
                    type="file"
                    accept="image/*"
                    (change)="onImageChange($event, 'altImage')"
                  />
                  <img [src]="altImage" *ngIf="altImage" style="margin: 3px" />
                  <mat-hint align="end">Upload Optional photo</mat-hint>
                </mat-form-field>
                <!-- upload alt photo  -->
              </div>
            </ng-container>

            <div class="col form-group">
              <!--upload bill image  1-->
              <mat-form-field>
                <mat-toolbar>
                  <!-- Display files names -->
                  <input readonly [disabled]="button1Status === 'V'" matInput />
                </mat-toolbar>

                <!-- Fetch selected filed on change -->
                <input
                  [disabled]="button1Status === 'V'"
                  class="form-control"
                  type="file"
                  accept="image/*"
                  (change)="onImageChange($event, 'photoBill')"
                />
                <img *ngIf="billImage" [src]="billImage" style="margin: 3px" />
                <mat-hint align="end">Upload Bill photo </mat-hint>
              </mat-form-field>
            </div>
            <!-- Registered Number-->
            <!--  <div class="col">
              <ng-container *ngIf="mode !== 'add'">
                <mat-form-field>
                  <mat-toolbar>
                    <input readonly matInput />
                  </mat-toolbar>
                  <input
                    class="form-control"
                    type="file"
                    accept="image/*"
                    (change)="onImageChange($event, 'photoBill2')"
                  />
                  <img
                    *ngIf="billImage2"
                    [src]="billImage2"
                    style="margin: 3px"
                  />

                  <mat-hint align="end">Upload Bill photo 2</mat-hint>
                </mat-form-field>
              </ng-container>
            </div> -->
            <!--/ bill imageupload-->
          </div>
          <hr />
          <!-- fifth row end -->
          <!-- photo preview end -->
          <ng-container *ngIf="showOldBills">
            <section>
              <h2 class="label">Previous bills</h2>
              <div class="row">
                <div class="col gallery mt-3 mb-2">
                  <img src="assets/images/nnc_logo.png" alt="Cinque Terre" />

                  <div class="desc">Add a description of the image here</div>
                </div>
                <div class="col gallery mt-3 mb-2">
                  <img src="assets/images/nnc_logo.png" alt="Cinque Terre" />

                  <div class="desc">Add a description of the image here</div>
                </div>
                <div class="col gallery mt-3 mb-2">
                  <img src="assets/images/nnc_logo.png" alt="Cinque Terre" />

                  <div class="desc">Add a description of the image here</div>
                </div>
              </div>
            </section>
            <hr />
          </ng-container>

          <!-- photo preview end -->
          <div class="row">
            <div class="col-md-12 action-buttons">
              <button
                type="button "
                mat-raised-button
                color="danger"
                (click)="onCancel()"
              >
                Cancel
              </button>
              <button
                mat-raised-button
                color="primary"
                (click)="onRegister()"
                [disabled]="!registerForm.valid"
              >
                Save
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<!-- test  -->
