<!-- student form -->
<div class="content-wrapper">
  <legend class="scheduler-border text-center">Register</legend>
  <div class="row">
    <div class="col searchBar">
      <mat-search-bar
        aria-autocomplete="false"
        style="margin-left: 300px"
        class="mb-2"
        placeholder="search by RegNo"
        (change)="onSearch($event.target.value)"
      ></mat-search-bar>
    </div>
  </div>

  <form novalidate role="form" [formGroup]="registerForm">
    <div class="row mb-2">
      <div class="card registerCard">
        <div class="card-body">
          <!-- first row  -->
          <div class="row">
            <!--  name -->
            <div class="col-md-4">
              <mat-form-field class="=full-width">
                <input
                  matInput
                  type="text"
                  placeholder="Full Name"
                  formControlName="name"
                  id="name"
                />
                <mat-hint align="end">Enter full name</mat-hint>
              </mat-form-field>
            </div>
            <!--/
                 name -->

            <!-- father name -->
            <div class="col-md-4">
              <mat-form-field>
                <input
                  matInput
                  type="text"
                  placeholder="Address"
                  formControlName="address"
                  id="lname"
                  fxlayoutalign="column"
                />
                <mat-hint align="end">Enter address</mat-hint>
                <!-- <mat-error *ngIf="hasError('address', 'required')"
                >Last Name is required</mat-error
              >
              <mat-error *ngIf="hasError('address', 'maxlength')"
                >Enter last name</mat-error
              > -->
              </mat-form-field>
            </div>
            <!-- / father name -->

            <!-- mother name -->
            <div class="col-md-4">
              <mat-form-field>
                <input
                  matInput
                  type="number"
                  placeholder=" Ward number"
                  formControlName="wardNo"
                  id="lname"
                  fxlayoutalign="column"
                />
                <mat-hint align="end">Enter ward number</mat-hint>
                <!--  <mat-error *ngIf="hasError('wardNum', 'required')"
                >Last Name is required</mat-error
              >
              <mat-error *ngIf="hasError('wardNum', 'maxlength')"
                >Enter last name</mat-error
              > -->
              </mat-form-field>
            </div>
          </div>
          <!-- first row end -->

          <!-- second row  -->
          <div class="row">
            <!--  name -->
            <div class="col-md-4">
              <mat-form-field>
                <input
                  matInput
                  type="text"
                  placeholder=" Mobile number"
                  formControlName="mobileNo"
                  id="lname"
                  fxlayoutalign="column"
                  #input
                  maxlength="10"
                />
                <mat-hint align="end"
                  >{{ input.value?.length || 0 }}/10, Enter mobile
                  number</mat-hint
                >

                <!--  <mat-error *ngIf="hasError('wardNum', 'required')"
                >Last Name is required</mat-error
              >
              <mat-error *ngIf="hasError('wardNum', 'maxlength')"
                >Enter last name</mat-error
              > -->
              </mat-form-field>
            </div>
            <!--/
                 name -->

            <!-- Affiliation College -->
            <div class="col-md-4">
              <mat-form-field>
                <input
                  matInput
                  type="text"
                  placeholder=" Email"
                  formControlName="email"
                  id="lname"
                  fxlayoutalign="column"
                />
                <mat-hint align="end">Enter e-mail address</mat-hint>
                <!--  <mat-error *ngIf="hasError('wardNum', 'required')"
                >Last Name is required</mat-error
              >
              <mat-error *ngIf="hasError('wardNum', 'maxlength')"
                >Enter last name</mat-error
              > -->
              </mat-form-field>
            </div>
            <!-- / father name -->

            <!-- College Name -->
            <div class="col-md-4">
              <mat-form-field>
                <input
                  [matDatepicker]="picker"
                  matInput
                  placeholder="Choose D.O.B"
                  formControlName="dob"
                  (click)="picker.open()"
                  [(value)]="dob"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-hint align="end">Select Date of Birth(D.O.B)</mat-hint>
              </mat-form-field>
            </div>
            <!-- College Name end -->
          </div>
          <!-- second row end -->

          <!-- third row  -->
          <div class="row">
            <!--  College Address -->
            <div class="col-md-4">
              <mat-form-field>
                <mat-label>Affiliation College</mat-label>
                <mat-select
                  formControlName="affiliationCollege"
                  [compareWith]="compareFn"
                >
                  <mat-option
                    *ngFor="let item of affiliationCollegeList"
                    [value]="item"
                    >{{ item.name }}</mat-option
                  >
                </mat-select>
                <mat-hint align="end">Select college affiliation</mat-hint>
              </mat-form-field>
            </div>
            <!--/
                 College Address -->

            <!-- dob-->
            <div class="col-md-4">
              <mat-form-field>
                <input
                  matInput
                  type="text"
                  placeholder="College Name"
                  formControlName="collegeName"
                  id="college"
                  fxlayoutalign="column"
                />
                <mat-hint align="end">Enter college name</mat-hint>
                <!--  <mat-error *ngIf="hasError('name', 'required')"
                >Last Name is required</mat-error
              >
              <mat-error *ngIf="hasError('name', 'maxlength')"
                >Enter last name</mat-error
              > -->
              </mat-form-field>
            </div>
            <!-- / dob-->

            <!-- Registered Number-->
            <div class="col-md-4">
              <mat-form-field>
                <input
                  matInput
                  type="text"
                  placeholder="College Address"
                  formControlName="collegeAddress"
                  id="collegeAddress"
                  fxlayoutalign="column"
                />
                <mat-hint align="end">Enter college address</mat-hint>
                <!--  <mat-error *ngIf="hasError('name', 'required')"
                >Last Name is required</mat-error
              >
              <mat-error *ngIf="hasError('name', 'maxlength')"
                >Enter last name</mat-error
              > -->
              </mat-form-field>
            </div>
            <!-- College Name end -->
          </div>
          <!-- third row end -->

          <!-- fourth row  -->
          <div class="row">
            <!--  letterReceiver -->
            <div class="col-md-4">
              <mat-form-field class="=full-width">
                <input
                  matInput
                  type="text"
                  placeholder="Registered Number"
                  formControlName="regNo"
                  id="fname"
                />
                <mat-hint align="end">Enter registered number</mat-hint>
                <!-- <mat-error *ngIf="hasError('name', 'required')">Name is required</mat-error>
            <mat-error *ngIf="hasError('name', 'maxlength')">You have more than 60 characters</mat-error>-->
              </mat-form-field>
            </div>
            <!--/
                 Registered Number -->
            <!--
                 letterReceiver -->

            <div class="col-md-4">
              <mat-form-field>
                <mat-label>Letter Receiver</mat-label>
                <mat-select
                  formControlName="letterReceiver"
                  [compareWith]="compareFn"
                  (selectionChange)="selectDropDown2Data($event.value.id)"
                >
                  <mat-option
                    *ngFor="let item of letterReceiverList"
                    [value]="item"
                    >{{ item.name }}</mat-option
                  >
                </mat-select>
                <mat-hint align="end">Select letter receiver</mat-hint>
              </mat-form-field>
            </div>
            <!-- letter receiver -->
            <div class="col-md-4">
              <mat-form-field>
                <mat-label>Selected College</mat-label>
                <mat-select
                  formControlName="letterReceiver2"
                  [compareWith]="compareFn"
                >
                  <mat-option
                    *ngFor="let item of selectedCollegeList"
                    [value]="item"
                    >{{ item.postal }}, {{ item.address1 }}</mat-option
                  >
                </mat-select>
                <mat-hint align="end">Select letter receiver</mat-hint>
              </mat-form-field>
            </div>
            <!-- / letter receiver-->
          </div>
          <!-- fourth row end -->

          <!-- fifth row  -->
          <div class="row">
            <!--  licence photo-->
            <div class="col-md-4">
              <!-- upload licence photo  -->
              <mat-form-field>
                <mat-toolbar>
                  <!-- Display files names -->
                  <input readonly matInput name="name" />
                </mat-toolbar>
                <!-- Fetch selected filed on change -->
                <input
                  class="form-control"
                  type="file"
                  accept="image/*"
                  (change)="onImageChange($event, 'photoLicence')"
                />
                <img
                  [src]="licenceImage"
                  *ngIf="licenceImage"
                  style="margin: 3px"
                />
                <mat-hint align="end">Upload licence photo</mat-hint>
              </mat-form-field>
              <!-- upload licence photo  -->
            </div>

            <div class="col-md-4">
              <!--upload bill image  1-->
              <mat-form-field>
                <mat-toolbar>
                  <!-- Display files names -->
                  <input [disabled]="button1Status === 'V'" matInput />
                </mat-toolbar>

                <!-- Fetch selected filed on change -->
                <input
                  [disabled]="button1Status === 'V'"
                  class="form-control"
                  type="file"
                  accept="image/*"
                  (change)="onImageChange($event, 'photoBill1')"
                />
                <img
                  *ngIf="billImage1"
                  [src]="billImage1"
                  style="margin: 3px"
                />
                <mat-hint align="end">Upload Bill photo 1</mat-hint>
              </mat-form-field>
            </div>
            <!-- Registered Number-->
            <div class="col-md-4">
              <ng-container *ngIf="mode !== 'add'">
                <mat-form-field>
                  <mat-toolbar>
                    <!-- Display files names -->
                    <input only matInput />
                  </mat-toolbar>
                  <input
                    class="form-control"
                    type="file"
                    accept="image/*"
                    (change)="onImageChange($event, 'photoBill2')"
                  />
                  <img
                    *ngIf="billImage2"
                    [src]="billImage2"
                    style="margin: 3px"
                  />

                  <mat-hint align="end">Upload Bill photo 2</mat-hint>
                </mat-form-field>
              </ng-container>
            </div>
            <!--/ bill imageupload-->
          </div>
          <!-- fifth row end -->
          <div class="row">
            <hr />
            <div class="col-md-12 mt-3 mb-2 mr-3">
              <button
                class="mr-3 float-right"
                mat-raised-button
                color="primary"
                (click)="onRegister()"
                [disabled]="!registerForm.valid"
              >
                Save
              </button>
              <button
                class="mr-3 float-right"
                type="button "
                mat-raised-button
                color="danger"
                (click)="onCancel()"
              >
                Cancel
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<!-- test  -->
