.registerCard {
  display: grid;
  place-items: inherit;
  width: 800px;
}

.form-control {
  border: 0;
}

.mat-form-field {
  display: grid;
  place-items: center;
  margin: 0.5rem 0;
  // width: 300px !important;
}
.mat-toolbar-single-row {
  height: auto !important;
  background: transparent;
}

img {
  height: 200px;
  width: 200px;
}

input:disabled,
input[disabled] {
  cursor: not-allowed !important;
}

.photoPreview {
  display: grid;
  place-items: inherit;
}
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

section {
  display: grid;
  align-items: center;
  padding: 0 1rem 1rem 1rem;
  margin: 3rem 0 3rem 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
}
