img {
  // margin-bottom: 5px;
  height: 6rem;
  margin-left: 8%;
}

.navbar-nav {
  .nav-link {
    font-size: 14px;
    text-transform: titlecase;
    // padding-left: 1em;
    // padding-right: 1em;
  }
}
a:link {
  /* Essentially means a[href], or that the link actually goes somewhere */
  color: blue;
}

.nav-item:hover {
  border-bottom: #ff75f0 3px solid;
}
.nav-item a.active {
  border-bottom: #008fd6 1px solid;
}

.navbar {
  height: 20rem;
  border-bottom: lightgray;
  box-shadow: lightgray 3px 1px;
  position: relative;
}

nav-item a.active {
  margin: 1rem;
  color: red;
}

#main-nav {
  height: 6rem;
}
