img {
  height: 6rem;
  margin-left: 7%;
}

.navbar-nav {
  .nav-link {
    font-size: 14px;
    text-transform: titlecase;
  }
}

.nav-item:hover {
  border-bottom: coral 3px solid;
}
.nav-item a.active {
  border-bottom: #008fd6 1px solid;
}

.navbar {
  height: 20rem;
  border-bottom: lightgray;
  box-shadow: lightgray 3px 1px;
  position: relative;
}

#main-nav {
  height: 6rem;
}
