<div class="content-wrapper">
  <mat-card-actions>
    <div class="row top-bar-items">
      <div class="col">
        <label>Select status</label>
        <select
          class="custom-select"
          id="inputGroupSelect03"
          [(ngModel)]="status"
        >
          <option [selected] disabled>Choose...</option>
          <option
            value="1"
            *ngFor="let status of letterStatuses"
            [value]="status.value"
          >
            {{ status.name }}
          </option>
        </select>
      </div>
      <!-- from date -->
      <div class="col mb-2">
        <label>From Date</label>
        <np-datepicker
          class="form-group"
          inputClass="form-control"
          language="en"
          [(ngModel)]="fromDate"
          [dateFormatter]="fromDateFormatter"
        ></np-datepicker>
      </div>
      <!-- from date end-->

      <!-- to date -->
      <div class="col">
        <label>To Date</label>
        <np-datepicker
          class="form-group"
          inputClass="form-control"
          language="en"
          [(ngModel)]="toDate"
          [dateFormatter]="toDateFormatter"
        ></np-datepicker>
      </div>
      <!-- to date end -->
      <button
        mat-icon-button
        style="margin-top: 22px; margin-right: 4px"
        (click)="onSearch()"
      >
        <mat-icon>search</mat-icon>
      </button>
    </div>
  </mat-card-actions>

  <div class="col p-0 y-auto list-template">
    <!-- student table -->

    <table
      [dataSource]="letterListDataSource$ | async"
      mat-table
      table-bordered
      table-responsive
      class="mat-elevation-z8"
    >
      <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

      <!-- Sn Column -->
      <ng-container matColumnDef="Id">
        <th mat-header-cell *matHeaderCellDef>Sn.</th>
        <td mat-cell *matCellDef="let element; index as i">{{ i + 1 }}.</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <!-- class Column -->
      <ng-container matColumnDef="regNo">
        <th mat-header-cell *matHeaderCellDef>Registered Number</th>
        <td mat-cell *matCellDef="let element">
          {{ element.regNo }}
        </td>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="Action">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element">
          <app-table-action-buttons
            *ngIf="!isVerified"
            [enableEdit]="false"
            [enableDelete]="false"
            [enableViewDetails]="true"
            (delete)="onDelete(element)"
            (viewDetails)="onVerifyDetails('verify', element)"
          >
            <mat-icon ngbTooltip="View Details">details</mat-icon>
          </app-table-action-buttons>
          <mat-card-actions *ngIf="isVerified">
            <button
              mat-button
              color="primary"
              ngbTooltip="Print page"
              (click)="onPrint(element)"
            >
              <mat-icon color="warn">print</mat-icon>
            </button>
          </mat-card-actions>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-toolbar
      align="center"
      *ngIf="!(letterListDataSource$ | async)?.length"
    >
      <mat-icon>report_problem</mat-icon>No Data Available
    </mat-toolbar>
    <!-- / student table -->
  </div>
</div>
