h2 {
  font-size: 30pt;
  font-weight: 600;
  font-family: "Times New Roman", Times, serif;
}
p {
  font-size: 12pt;
  margin: 0;
}

.logotipo {
  margin: -0.5cm;
}
.name {
  margin-top: 1rem;
}
.disclaimer,
.address p {
  font-size: 14pt;
}

.signature-field {
  margin-top: 2rem;
  padding-bottom: 24pt;
  border-top: solid black 1pt;
}

.divider {
  font-weight: 100;
}
.info-list {
  padding-left: 1rem;
}
.content-wrapper {
  font-family: "Times New Roman", Times, serif;
}

#print-section {
  margin: 2rem;
}
#header {
  position: relative;
  margin-left: 3rem;
}

.page-footer,
.page-footer-space {
  height: 50px;
}

.page {
  page-break-after: always;
}

// for printing
@media print {
  #footer,
  #header {
    display: none;
  }

  .container-fluid {
    font-family: "Times New Roman", Times, serif;
    font-weight: 540;
    float: left;
    width: 21cm;
    height: 29.7cm;
    margin: 30mm 45mm 30mm 30mm;
  }
}
