<div class="container-fluid">
  <aside class="sidebar">
    <h3 class="label">Basic steps for form registeration:</h3>
    <ol>
      <li>Select your updated licence photo</li>
      <li>Select your updated licence photo</li>
      <li>Select your updated licence photo</li>
      <li>Select your updated licence photo</li>
      <li>Select your updated licence photo</li>
    </ol>
    <h3 class="label">Recently Added students:</h3>
    <ol>
      <li *ngFor="let item of recentStudents; index as i">
        {{ item.name | titlecase }}
      </li>
    </ol>
  </aside>
</div>
