.container {
  display: grid;
  /* side bar*/
  grid-template-columns: minmax(250px, 25%) 1fr;
  /* end side bar*/
}

.sidebar {
  height: 255vh;
  // background-color: rgb(213, 224, 243);
  background-color: #e1f1f9;
  // padding-left: 20px;
}

.content {
  display: grid;
  /* one line center*/
  // place-items: center;
  /* end one line center*/
}
