@import "~ngx-toastr/toastr";

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$nepalNursingCouncil-primary: mat-palette($mat-indigo);
$nepalNursingCouncil-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$nepalNursingCouncil-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$nepalNursingCouncil-theme: mat-light-theme(
  (
    color: (
      primary: $nepalNursingCouncil-primary,
      accent: $nepalNursingCouncil-accent,
      warn: $nepalNursingCouncil-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($nepalNursingCouncil-theme);

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* You can add global styles to this file, and also import other style files */

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.content-wrapper {
  padding: 30px;
  // margin-left: 10%;
}
/* side-bar/info-bar */
.container {
  display: grid;
  grid-template-columns: minmax(150px, 25%) 1fr;
  padding-left: 0;
  margin-left: 0;
}

navbar {
  width: 975px;
}

.sidebar {
  display: block;
  align-items: center;
  min-height: 100vh;
  background-color: #5dbce2;
  margin: 0.25rem 0 0.25rem 0.25rem;
  border-radius: 0.5rem;
  color: white;
  position: sticky;
}

hr {
  margin: 2rem 0.5rem 1rem 0.5rem;
}

.action-buttons button {
  margin: 0.5rem 0.5rem 0.25rem 0.5rem;
  float: right;
}
.label {
  padding: 1rem 0 1rem 0;
  text-decoration: underline;
  text-align: center;
}
.main-content {
  // display: grid;
  /* one line center*/
  // place-items: center;
  /* end one line center*/
}
/* spinner for save button */
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #000000;
  animation: spinner 0.8s linear infinite;
}
/* side-bar/info-bar */

/* Responsive Styles */
/* @media screen and (max-width: 767px) {
  .card-container > *:not(.circle-link),
  .terminal {
    width: 100%;
  }

  .card:not(.highlight-card) {
    height: 16px;
    margin: 8px 0;
  }

  .card.highlight-card span {
    margin-left: 72px;
  }

  svg#rocket-smoke {
    right: 120px;
    transform: rotate(-5deg);
  }
} */
/* @media screen and (max-width: 575px) {
  svg#rocket-smoke {
    display: none;
    visibility: hidden;
  }
} */
